<div class="container-login">
    <div class="title">
    ログイン
    </div>
    <div class="login">
    <%= form_tag("/login",) do%>
        <div class="info">
            <div class="info-item">
            メールアドレス<br>
            <input type="email" name="email" value="<%= @email%>", placeholder="email@example.com">
            </div>
            <div class="info-item">
            パスワード<br>
            <input type="password" name="password" value="<%= @password%>">
            </div>
            <div class="submit">
            <input type="submit" value="ログイン">
            </div>
        </div>
    <% end %>
    <%= link_to("新規登録はこちら", "/signup")%><br><br>
    </div>
</div>