// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media screen and(min-width: 1016px){
    .container-movie{
        //padding-top: 15px;
        
        .conte-info{
            display: flex;
            .index-link{
                margin-top: 15px;
                width: 160px;
                padding-bottom: 10px;
            }
            .movie-list{
                padding-top: 40px;
                width: 87%;
                margin-left: 85px;

                .Main{
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .movie{
                        padding-top: 4%;
                        width: 620px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        img{
                            width: 200px;
                            height: 282px;
                            border-radius: 0%;
                            object-fit: cover;
                        }

                        .right-info{
                            width: 420px;
                            text-align: left;
                            padding-left: 10px;
                            .stitle{
                                font-weight: bold;
                                font-size: 20px;
                            }
                            .info{
                                font-size: 13px;
                                font-weight: bold;
                            }
                            .syn{
                                font-size: 14px;
                                font-weight: 500;
                            }
                            .syn-mv{
                                width: 260px;
                                height: 0px;
                                background-color: #ebebeb;
                                position: relative;
                                padding-bottom: 34.25%; /*アスペクト比 16:9の場合の縦幅*/
                                overflow: hidden;
                            }
                            
                            .syn-mv iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        //新規追加(new)
        .new{
            width: 63%;
            padding-top: 60px;
            padding-left: 500px;

            img {
                width: 150px;
                height: 200px;
                border-radius: 0%;
                } 
                
            .title{
                font-size: 25px;
                font-weight: bold;
            }
        }
        //編集(edit)
        .movie-edit{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;

            .movie-list{

                .movie-info{
                    width: 100%;
                    display: flex;

                    img{
                        width: 150px;
                        height: 200px;
                        border-radius: 0%;
                    }

                    .info{
                        text-align: left;
                        display: inline-block;
                        margin-left: 6px;

                        input[type="text"] {
                            width: 100%;
                            height: 40px;
                            border: 1px solid #bdbdbd;
                            border-radius: 3px;
                        }
    
                        input[type="datetime-local"] {
                            width: 100%;
                            height: 40px;
                            border: 1px solid #bdbdbd;
                            border-radius: 3px;
                        }

                        input[type="number"] {
                            width: 100%;
                            height: 40px;
                            border: 1px solid #bdbdbd;
                            border-radius: 3px;
                        }
    
                        textarea {
                            width: 100%;
                            height: 40px;
                            border: 1px solid #bdbdbd;
                            border-radius: 3px;
                        }

                        input[type="submit"] {
                            width: 100%;
                            height: 45px;
                            border: 1px solid #bdbdbd;
                            border-radius: 3px;
                            background-color: #f4f4f4;
                        }

                        button {
                            width: 100%;
                            height: 45px;
                            border: 1px solid #bdbdbd;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}  
//タブレット
@media screen and (min-width: 480px) and (max-width: 768px){
    body{
    }
    
}
//スマホ
@media screen and(max-width: 480px){
    body{
    }
    
}